<div class="container">
  <section class="sidebar">
    <h1>Hearthstone replay finder</h1>

    <div class="filters">
      <div class="filter">
        <div class="label">class</div>
        <div class="select">
          <select>
            <option>Rogue</option>
          </select>
        </div>
      </div>

      <div class="filter">
        <div class="label">archetype</div>
        <div class="select">
          <select>
            <option>Odd</option>
          </select>
        </div>
      </div>

      <div class="filter">
        <div class="label">outcome</div>
        <div class="select">
          <select>
            <option>Win</option>
          </select>
        </div>
      </div>

      <div class="filter">
        <div class="label">rank</div>
        <div class="select">Legend</div>
      </div>
    </div>

    <div class="stats">
      <%= @replays.count %> replays found
    </div>
  </section>

  <section class="replays">
    <% @replays.each do |replay| %>
      <a href="<%= replay.replay_link %>" class="replay-link" target="_blank">
        <span class="player player1"><%= replay.player1_archetype %></span>
        <span class="rank"><%= replay.player1_rank %></span>
        <span class="vs">vs.</span>
        <span class="rank"><%= replay.player2_rank %></span>
        <span class="player player2"><%= replay.player2_archetype %></span>
      </a>
    <% end %>
  </section>
</div>
