<div class="container">
  <section class="sidebar">
    <h1>Hearthstone replay finder</h1>

    <div class="filters">
      <div class="filter">
        <div class="label">class</div>
        <div class="select">
          <select>
            <option>Rogue</option>
          </select>
        </div>
      </div>

      <div class="filter">
        <div class="label">archetype</div>
        <div class="select">
          <select>
            <option>Odd</option>
          </select>
        </div>
      </div>

      <div class="filter">
        <div class="label">outcome</div>
        <div class="select">
          <select>
            <option>Win</option>
          </select>
        </div>
      </div>

      <div class="filter">
        <div class="label">rank</div>
        <div class="select">Legend</div>
      </div>
    </div>

    <div class="stats">
      <%= @replays.count %> replays found
    </div>
  </section>

  <div style="display: none">
    <svg id="hexagon" width="22" viewBox="0 0 175 200">
      <polyline points="87,0 174,50 174,150 87,200 0,150 0,50 87,0"/>
    </svg>
  </div>

  <section class="replays">
    <% last_found_at = nil %>
    <% @replays.each do |replay| %>
      <div class="replay-info">
        <a href="<%= replay.replay_link %>" class="replay-link" target="_blank">
          <span class="player player1"><%= replay.player1_archetype %></span>
          <span class="rank">
            <% if replay.player1_legend_rank %>
              <span class="legend-rank"><%= replay.player1_legend_rank %></span>
              <svg class="hexagon legend-hexagon">
                <use xlink:href="#hexagon"></use>
              </svg>
            <% else %>
              <span class="rank-rank"><%= replay.player1_rank %></span>
              <svg class="hexagon rank-hexagon">
                <use xlink:href="#hexagon"></use>
              </svg>
            <% end %>
          </span>
          <span class="vs">vs.</span>
          <span class="rank">
            <% if replay.player2_legend_rank %>
              <span class="legend-rank"><%= replay.player2_legend_rank %></span>
              <svg class="hexagon legend-hexagon">
                <use xlink:href="#hexagon"></use>
              </svg>
            <% else %>
              <span class="rank-rank"><%= replay.player2_rank %></span>
              <svg class="hexagon rank-hexagon">
                <use xlink:href="#hexagon"></use>
              </svg>
            <% end %>
          </span>
          <span class="player player2"><%= replay.player2_archetype %></span>
        </a>

        <div class="replay-found-at">
          <% found_at = replay_found_at(replay) %>
          <% if last_found_at != found_at %>
            <% last_found_at = found_at %>
            <%= found_at %>
          <% end %>
        </div>
      </div>
    <% end %>
  </section>
</div>
