<!DOCTYPE html>
<html>
  <head>
    <title>Hearthstone Replay Finder</title>
    <meta name="description"
          content="Hearthstone replays and stats by legend-rank players"/>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag('application', media: 'all')
          .gsub(/\/assets/, 'assets').html_safe %>
    <%= javascript_pack_tag('application')
          .gsub(/\/packs/, 'packs').html_safe %>
    <%= stylesheet_pack_tag('application')
          .gsub(/\/packs/, 'packs').html_safe %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
